* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
}

#container {
    margin: 0 auto;
    width: 940px;
    text-align: left;
}

#top {
    height: 40px;
}

#left {
    float: left;
    width: 149px;
    height: 600px;
    background-color: #fff;
}

#left ul {
    list-style-type: none;
}

#left ul .left_lb {
    display: none;
}

#content {
    float: left;
    width: 787px;
    height: 900px;
}

#top .logo {
    float: left;
    font-size: 15px;
    padding: 9px 23px 10px 23px;
    border-right: 1px solid #1c2329;
    background-color: #2c3640;
    color: #ffffff;
}

.top_user {
    float: left;
    position: relative;
}

.top_user .yh {
    float: left;
    background-color: #2c3640;
    border-right: 1px solid #1c2329;
}

.top_user .yh a {

}

.top_user .yh a, .top_user .yh a:active {
    display: block;
    text-decoration: none;
    padding: 9px 24px 10px 23px;
    border-left: 1px solid #3a4753;
    font-size: 15px;
    color: #ffffff;
}

#top .kong {
    float: left;
    height: 40px;
    width: 652px;
    background-color: #2c3640;
    border-left: 1px solid #3a4753;
}

.top_user .tc {
    position: absolute;
    top: 40px;
    left: 0px;
    width: 200px;
}

.top_user .tc a {
    display: none;
    text-decoration: none;
    padding: 9px 110px 10px 30px;
    border: 1px solid;
    font-size: 15px;
    background-color: #fff;
    background-image: url("tc.jpg");
    background-repeat: no-repeat;
    background-position: 8px 5px;
}

#left a, #left a:active {
    display: block;
    padding: 20px 30px;
    border-top: 1px solid #d6dade;
    text-decoration: none;
    color: #334559;

}

#left a:hover span {
    color: #fff;
}

#left a:hover {
    color: #fff;
    background-color: #2c3640;
}

#left .left_lb a:hover {
    color: #fff;
    background-color: #6d7987;
}

#left a span {
    margin-right: 10px;
}

#content {
    background-color: #eeeeee;

}

#content .right_top {
    background-color: #ffffff;
    padding: 10px 0px 10px 20px;
}

#content .right_xx {
    padding: 0px 0px 0px 20px;
}

#content .right_xx h1 {
    margin-bottom: 0;
    border-bottom: 1px solid #dcdcdc;
    padding: 0px 0px 20px 0px;
    color: #555;
}

#content .right_xx .right_t {

    border-top: 1px solid #fafafa;
}

#left .left_qc {
    border-bottom: 1px solid #d6dade;
}

#content .right_xx .right_t a {
    display: block;
    float: left;
    text-decoration: none;
    color: #fff;
    text-align: center;
}

.right_t a span {
    margin-bottom: 10px;
}

.right_t .right_t_1 {
    background-color: #00b57b;
    padding: 15px 60px;
    margin-top: 20px;
    margin-right: 5px;
}

.right_t .right_t_2 {
    background-color: #ffb645;
    padding: 15px 30px;
    margin-top: 20px;
    margin-right: 5px;
}

.right_t .right_t_3 {
    background-color: #e55526;
    padding: 15px 40px;
    margin-top: 20px;
    margin-right: 5px;
}

.right_t .right_t_4 {
    background-color: #00abe3;
    padding: 15px 40px;
    margin-top: 20px;
    margin-right: 5px;
}

.right_t .right_t_5 {
    background-color: #ffb645;
    padding: 15px 40px;
    margin-top: 20px;
    margin-right: 5px;
}

.right_bot {
    float: left;
    clear: both;
}

.right_bot .right_bot_1 {
    border: 1px solid #cdcdcd;
    width: 767px;
    height: 31px;
    border-bottom: none;
    border-right: none;
    margin-left: 20px;
    margin-top: 20px;
}

.right_bot_1 .right_bot_11 {
    float: left;
    border-right: 1px solid #cdcdcd;
    width: 40px;
    height: 30px;
    padding:7px 14px;
}

.right_bot_1 .right_bot_12 {
    float: left;
    padding: 6px;
    font-weight: bold;
    color: #666666;
}

.right_bot .right_bot_2 {
    border: 1px solid #cdcdcd;
    margin-left: 20px;
    border-right: none;
    height: 500px;
    background-color: #fff;
}
.right_bot_2 .right_bot_21 {
    float:left;
    clear:left;
    width:380px;
    margin-top:80px;
    margin-left:20px;
    font-size:12px;
    color:#666666;
}
.right_bot_21 td {
    padding:10px 30px 10px 10px;
}
.right_bot_21 .right_bot_22 {
    padding-bottom:20px;
    padding-left:10px;
    font-size:18px;
    font-weight:bolder;
    color:#736666;
}
.right_bot_2 .right_bot_right {
    float:left;
    width:363px;
    margin-top:90px;
    font-size:12px;
    color:#666666;
}
.right_bot_2 .right_bot_right td {
    padding:10px 50px 10px 10px;
    border:1px solid #dcdcdc;
}
.right_bot_2 .right_bot_right .right_bot_right1 {
    padding-bottom:30px;
    font-size:18px;
    font-weight:bolder;
}
.right_xx .right_tt {
    border-top: 1px solid #fafafa;
}
.right_tt button {
    margin:15px 0;
}
.right_tt tr td:first-child	 {
    width:10px;
}
.right_tt tr td:last-child {
    width:10px;
}
.right_tt tr td {
    border:1px solid #cdcdcd;
    backgorund-color:#fff;
}